<br>
<br>
<div class="container">
	<div class="row">
		<div class="jumbotron">
			<h1 class="text-center"><i class="fa fa-exclamation-triangle"></i> 404 error</h1>
		</div>			
	</div>
<div ng-show="error" class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> {{error}}</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="jumbotron">
				<p class="text-center">The page you are looking for does not exists. Use the following button to reach the login page</p>
				<p class="text-center"><a href="#/login"><button class="btn btn-primary btn-lg"> Login page </button></a></p>
			</div>
		</div>
	</div>
</div>